[package]
name = "omekasy"
version = "0.1.0"
authors = ["ikanago <ikanago-dev@protonmail.com>"]
edition = "2021"

[dependencies]
clap = { version = "3.1.9", features = ["derive"] }
crossterm = "0.23.2"

[profile.dev]
debug = 0

