[package]
name = "omekasy"
version = "0.1.0"
authors = ["ikanago <ikanago-dev@protonmail.com>"]
description = "Decorate latin alphabet and numbers in your input with various font; special characters in Unicode"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/ikanago/omekasy"
edition = "2021"

[dependencies]
clap = { version = "3.1.10", features = ["derive"] }
crossterm = "0.23.2"

[profile.dev]
debug = 0

