name: 'actionlint'

on:
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          reporter: 'github-pr-review'
          fail_on_error: true
